In [99]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.61.2-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 574 kB/s eta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.61.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

tutorial = pd.read_csv("data/brazil_tutorial.csv")
play = pd.read_csv("data/brazil_play.csv")
draw = pd.read_csv("data/brazil_draw.csv")
stage = pd.read_csv("data/brazil_stage.csv")
asset = pd.read_csv("data/sub_asset.csv")
ads = pd.read_csv("data/sub_ads.csv")
activity = pd.read_csv("data/brazil_activity.csv")

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (0,1,2,59) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (57,84,85,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (65,84,95,96,97) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1,2,3,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 각 event column명 맞추기

### tutorial

In [6]:
columns_name = ['event_params_ad_id','user_properties_ad_id','event_timestamp','ga_session_id','ga_session_id_1','ga_session_id_timestamp']

In [25]:
tutorial_day = tutorial[columns_name]
tutorial_day.head()

,event_params_ad_id,user_properties_ad_id,event_timestamp,ga_session_id,ga_session_id_1,ga_session_id_timestamp
0,8c1573e7-f440-431e-b516-00c5b621fd63,8c1573e7-f440-431e-b516-00c5b621fd63,1618716504567000,1.618716e+09,1.618716e+09,1.618716e+15
1,1d1ec878-3d36-46e5-a2cc-3bed46341679,1d1ec878-3d36-46e5-a2cc-3bed46341679,1618080730037000,1.618081e+09,1.618081e+09,1.618081e+15
2,95511509-8065-4227-bd5a-a803ddbed7b6,95511509-8065-4227-bd5a-a803ddbed7b6,1618362123481000,1.618362e+09,1.618362e+09,1.618362e+15
3,a42b11cd-da75-4043-897f-18c3f4d67c3e,a42b11cd-da75-4043-897f-18c3f4d67c3e,1618572315366000,1.618572e+09,1.618572e+09,1.618572e+15
4,c1fb8a47-9bbb-4faa-935d-d533b985431a,c1fb8a47-9bbb-4faa-935d-d533b985431a,1618892539702000,1.618892e+09,1.618892e+09,1.618892e+15

In [27]:
# ad_id null값
print(len(tutorial_day[tutorial_day['event_params_ad_id'].isnull()]))
print(len(tutorial_day[tutorial_day['user_properties_ad_id'].isnull()]))

#ad_id는 null값인데 ad_id_1은 null이 아닌것 (=차이)
print(len(tutorial_day[(tutorial_day['event_params_ad_id'].isnull()) & ~(tutorial_day['user_properties_ad_id'].isnull())]))

9194
9256
1

In [28]:
 # 최종 ad_id를 생성
index = tutorial_day[tutorial_day['event_params_ad_id'].isnull()].index
tutorial_day.loc[index, 'event_params_ad_id'] = tutorial_day.loc[index, 'user_properties_ad_id']
tutorial_day.rename({'event_params_ad_id' : 'ad_id'}, axis=1, inplace = True)

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [29]:
# ad_id null값
print(len(tutorial_day[tutorial_day['ad_id'].isnull()]))

9193

In [37]:
tutorial_day.head()

,ad_id,user_properties_ad_id,event_timestamp,ga_session_id,ga_session_id_1,ga_session_id_timestamp
0,8c1573e7-f440-431e-b516-00c5b621fd63,8c1573e7-f440-431e-b516-00c5b621fd63,1618716504567000,1.618716e+09,1.618716e+09,1.618716e+15
1,1d1ec878-3d36-46e5-a2cc-3bed46341679,1d1ec878-3d36-46e5-a2cc-3bed46341679,1618080730037000,1.618081e+09,1.618081e+09,1.618081e+15
2,95511509-8065-4227-bd5a-a803ddbed7b6,95511509-8065-4227-bd5a-a803ddbed7b6,1618362123481000,1.618362e+09,1.618362e+09,1.618362e+15
3,a42b11cd-da75-4043-897f-18c3f4d67c3e,a42b11cd-da75-4043-897f-18c3f4d67c3e,1618572315366000,1.618572e+09,1.618572e+09,1.618572e+15
4,c1fb8a47-9bbb-4faa-935d-d533b985431a,c1fb8a47-9bbb-4faa-935d-d533b985431a,1618892539702000,1.618892e+09,1.618892e+09,1.618892e+15

In [39]:
tutorial_day.drop(['user_properties_ad_id'],axis=1,inplace=True)

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [77]:
# ga_session_id null값
print(len(tutorial_day[tutorial_day['ga_session_id'].isnull()]))
print(len(tutorial_day[tutorial_day['ga_session_id_1'].isnull()]))

#ga_session_id는 null값인데 ga_session_id_1은 null이 아닌것 (=차이)
print(len(tutorial_day[(tutorial_day['ga_session_id'].isnull()) & ~(tutorial_day['ga_session_id_1'].isnull())]))

62
62
0

In [78]:
tutorial_day.drop(['ga_session_id_1'],axis=1,inplace=True)

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

### play

In [32]:
play_day = play[['ad_id','ad_id_1','event_timestamp','ga_session_id','ga_session_id_1','ga_session_id_timestamp']]
play_day.head()

,ad_id,ad_id_1,event_timestamp,ga_session_id,ga_session_id_1,ga_session_id_timestamp
0,569fdb52-56a4-4076-a4f6-c247873ffc5a,569fdb52-56a4-4076-a4f6-c247873ffc5a,1619483072339000,1.619482e+09,1.619482e+09,1.619482e+15
1,569fdb52-56a4-4076-a4f6-c247873ffc5a,569fdb52-56a4-4076-a4f6-c247873ffc5a,1619629757211000,1.619629e+09,1.619629e+09,1.619629e+15
2,daaa7ba2-8ad5-41f5-b28f-dd870220f441,daaa7ba2-8ad5-41f5-b28f-dd870220f441,1619710601201000,1.619710e+09,1.619710e+09,1.619710e+15
3,c70f1e8e-fe24-4fa5-9cd2-6e6c304967d0,c70f1e8e-fe24-4fa5-9cd2-6e6c304967d0,1620068491696001,1.620068e+09,1.620068e+09,1.620068e+15
4,5ae02696-bfee-4fff-b007-e4f6c0f6abd5,5ae02696-bfee-4fff-b007-e4f6c0f6abd5,1619283138284001,1.619282e+09,1.619282e+09,1.619282e+15

In [33]:
# ad_id null값
print(len(play_day[play_day['ad_id'].isnull()]))
print(len(play_day[play_day['ad_id_1'].isnull()]))

#ad_id는 null값인데 ad_id_1은 null이 아닌것 (=차이)
print(len(play_day[(play_day['ad_id'].isnull()) & ~(play_day['ad_id_1'].isnull())]))

92988
92522
889

In [34]:
 # 최종 ad_id를 생성
index = play_day[play_day['ad_id'].isnull()].index
play_day.loc[index, 'ad_id'] = play_day.loc[index, 'ad_id_1']

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [35]:
# ad_id null값
print(len(play_day[play_day['ad_id'].isnull()]))

92099

In [40]:
play_day.drop(['ad_id_1'],axis=1,inplace=True)

In [71]:
# ga_session_id null값
print(len(play_day[play_day['ga_session_id'].isnull()]))
print(len(play_day[play_day['ga_session_id_1'].isnull()]))

#ga_session_id는 null값인데 ga_session_id_1은 null이 아닌것 (=차이)
print(len(play_day[(play_day['ga_session_id'].isnull()) & ~(play_day['ga_session_id_1'].isnull())]))

592
592
0

In [73]:
play_day.drop(['ga_session_id_1'], axis=1, inplace=True)

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

### draw

In [41]:
draw_day = draw[['ad_id','ad_id_1','event_timestamp','ga_session_id','ga_session_id_1','ga_session_id_timestamp']]

In [42]:
# ad_id null값
print(len(draw_day[draw_day['ad_id'].isnull()]))
print(len(draw_day[draw_day['ad_id_1'].isnull()]))

#ad_id는 null값인데 ad_id_1은 null이 아닌것 (=차이)
print(len(draw_day[(draw_day['ad_id'].isnull()) & ~(draw_day['ad_id_1'].isnull())]))

95256
94771
913

In [43]:
 # 최종 ad_id를 생성
index = draw_day[draw_day['ad_id'].isnull()].index
draw_day.loc[index, 'ad_id'] = draw_day.loc[index, 'ad_id_1']

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [44]:
# ad_id null값
print(len(draw_day[draw_day['ad_id'].isnull()]))

94343

In [45]:
draw_day.drop(['ad_id_1'],axis=1,inplace=True)

In [69]:
# ga_session_id null값
print(len(draw_day[draw_day['ga_session_id'].isnull()]))
print(len(draw_day[draw_day['ga_session_id_1'].isnull()]))

#ga_session_id는 null값인데 ga_session_id_1은 null이 아닌것 (=차이)
print(len(draw_day[(draw_day['ga_session_id'].isnull()) & ~(draw_day['ga_session_id_1'].isnull())]))

599
599
0

In [75]:
draw_day.drop(['ga_session_id_1'], axis=1, inplace=True)

### stage

In [46]:
stage_day = stage[['event_params_ad_id','user_properties_ad_id','event_timestamp','ga_session_id']]

In [47]:
# ad_id null값
print(len(stage_day[stage_day['event_params_ad_id'].isnull()]))
print(len(stage_day[stage_day['user_properties_ad_id'].isnull()]))

#ad_id는 null값인데 ad_id_1은 null이 아닌것 (=차이)
print(len(stage_day[(stage_day['event_params_ad_id'].isnull()) & ~(stage_day['user_properties_ad_id'].isnull())]))

92680
92227
877

In [49]:
 # 최종 ad_id를 생성
index = stage_day[stage_day['event_params_ad_id'].isnull()].index
stage_day.loc[index, 'event_params_ad_id'] = stage_day.loc[index, 'user_properties_ad_id']
stage_day.rename({'event_params_ad_id' : 'ad_id'}, axis=1, inplace = True)

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [50]:
# ad_id null값
print(len(stage_day[stage_day['ad_id'].isnull()]))

91803

In [53]:
stage_day.drop(['user_properties_ad_id'],axis=1,inplace=True)

### asset

In [19]:
asset

,ad_id,ga_session_id,event_timestamp,event_date
0,37f17865-1a1b-4887-bf38-5ae581ec09cb,1.617937e+09,1617936778478001,20210408
1,9a822b84-27d2-48c4-98d6-c87fa0a7b53a,1.618344e+09,1618344330246000,20210413
2,a39616e3-243c-4c04-b8d3-1a016111d84c,1.619197e+09,1619197472119001,20210423
3,f05a743d-18ca-455f-9a0d-0ae4abacc5f3,1.619172e+09,1619171971610000,20210423
4,a39616e3-243c-4c04-b8d3-1a016111d84c,1.619008e+09,1619007945504000,20210421
...,...,...,...,...
6231057,ba9a85e8-745f-4189-bac1-37dadb26c0e4,1.619447e+09,1619446905977000,20210426
6231058,c9000a27-6fd5-4eb1-b728-286561c707ca,1.619539e+09,1619538983636000,20210427
6231059,f296c0d9-7daa-43b4-a636-0863c082bb18,1.619550e+09,1619550395775001,20210427
6231060,569fdb52-56a4-4076-a4f6-c247873ffc5a,1.619462e+09,1619463737466000,20210426
6231061,404c2c55-da74-4d90-9b41-3e7b202dcce6,1.620054e+09,1620053991591000,20210503

### ads

In [20]:
ads

,ad_id,ga_session_id,event_timestamp,event_date
0,a39616e3-243c-4c04-b8d3-1a016111d84c,1.618947e+09,1618947173023000,20210420
1,8abadb82-ab32-4031-9f66-441c2f6f8105,1.618705e+09,1618705516341000,20210417
2,e8833098-5ed2-45b5-8235-55313a3f586c,1.619141e+09,1619142602896000,20210422
3,65c6fca1-8c93-4cd1-a9ee-33085f5f52a1,1.618375e+09,1618376219124000,20210413
4,936e255b-9ad8-4f59-ae6c-54dc95c0eabe,1.619381e+09,1619383858780000,20210425
...,...,...,...,...
17291367,569fdb52-56a4-4076-a4f6-c247873ffc5a,1.619462e+09,1619462608443000,20210426
17291368,c9000a27-6fd5-4eb1-b728-286561c707ca,1.619309e+09,1619311478068000,20210424
17291369,c9000a27-6fd5-4eb1-b728-286561c707ca,1.619309e+09,1619311575962000,20210424
17291370,5ae02696-bfee-4fff-b007-e4f6c0f6abd5,1.619282e+09,1619282788620000,20210424
17291371,5ae02696-bfee-4fff-b007-e4f6c0f6abd5,1.619282e+09,1619282842518000,20210424

### activity

In [54]:
activity_day = activity[['ad_id','ad_id_1','event_timestamp','ga_session_id','ga_session_id_1','ga_session_id_timestamp']]

In [55]:
# ad_id null값
print(len(activity_day[activity_day['ad_id'].isnull()]))
print(len(activity_day[activity_day['ad_id_1'].isnull()]))

#ad_id는 null값인데 ad_id_1은 null이 아닌것 (=차이)
print(len(activity_day[(activity_day['ad_id'].isnull()) & ~(activity_day['ad_id_1'].isnull())]))

10451
10517
42

In [56]:
 # 최종 ad_id를 생성
index = activity_day[activity_day['ad_id'].isnull()].index
activity_day.loc[index, 'ad_id'] = activity_day.loc[index, 'ad_id_1']

In [57]:
# ad_id null값
print(len(activity_day[activity_day['ad_id'].isnull()]))

10409

In [58]:
activity_day.drop(['ad_id_1'],axis=1,inplace=True)

In [86]:
# ga_session_id null값
print(len(activity_day[activity_day['ga_session_id'].isnull()]))
print(len(activity_day[activity_day['ga_session_id_1'].isnull()]))

#ga_session_id는 null값인데 ga_session_id_1은 null이 아닌것 (=차이)
print(len(activity_day[(activity_day['ga_session_id'].isnull()) & ~(activity_day['ga_session_id_1'].isnull())]))

90
90
0

In [87]:
activity_day.drop(['ga_session_id_1'],axis=1,inplace=True)

/home/users/s17011730/.conda/envs/ujin/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# join

In [79]:
tutorial_day.head()

,ad_id,event_timestamp,ga_session_id,ga_session_id_timestamp
0,8c1573e7-f440-431e-b516-00c5b621fd63,1618716504567000,1.618716e+09,1.618716e+15
1,1d1ec878-3d36-46e5-a2cc-3bed46341679,1618080730037000,1.618081e+09,1.618081e+15
2,95511509-8065-4227-bd5a-a803ddbed7b6,1618362123481000,1.618362e+09,1.618362e+15
3,a42b11cd-da75-4043-897f-18c3f4d67c3e,1618572315366000,1.618572e+09,1.618572e+15
4,c1fb8a47-9bbb-4faa-935d-d533b985431a,1618892539702000,1.618892e+09,1.618892e+15

In [80]:
play_day.head()

,ad_id,event_timestamp,ga_session_id,ga_session_id_timestamp
0,569fdb52-56a4-4076-a4f6-c247873ffc5a,1619483072339000,1.619482e+09,1.619482e+15
1,569fdb52-56a4-4076-a4f6-c247873ffc5a,1619629757211000,1.619629e+09,1.619629e+15
2,daaa7ba2-8ad5-41f5-b28f-dd870220f441,1619710601201000,1.619710e+09,1.619710e+15
3,c70f1e8e-fe24-4fa5-9cd2-6e6c304967d0,1620068491696001,1.620068e+09,1.620068e+15
4,5ae02696-bfee-4fff-b007-e4f6c0f6abd5,1619283138284001,1.619282e+09,1.619282e+15

In [81]:
draw_day.head()

,ad_id,event_timestamp,ga_session_id,ga_session_id_timestamp
0,569fdb52-56a4-4076-a4f6-c247873ffc5a,1619630104974000,1.619629e+09,1.619629e+15
1,569fdb52-56a4-4076-a4f6-c247873ffc5a,1619629776548000,1.619629e+09,1.619629e+15
2,daaa7ba2-8ad5-41f5-b28f-dd870220f441,1619710418342000,1.619710e+09,1.619710e+15
3,9d02fb64-9f16-41a1-8a7c-f1332603831f,1620272513315000,1.620272e+09,1.620272e+15
4,2def2bf6-7568-4e6d-b6ef-d937c9952550,1619654071444000,1.619654e+09,1.619654e+15

In [82]:
stage_day.head()

                                  ad_id   event_timestamp  ga_session_id
0  de26c090-8592-4b97-af22-1a729ddce86d  1619450317377000   1.619450e+09
1  de26c090-8592-4b97-af22-1a729ddce86d  1619450388826000   1.619450e+09
2  de26c090-8592-4b97-af22-1a729ddce86d  1619927749378000   1.619927e+09
3  de26c090-8592-4b97-af22-1a729ddce86d  1619927849325000   1.619927e+09
4  996225a8-c957-42d7-80b3-29354eba6d87  1618935956987000   1.618934e+09

In [83]:
asset.head()

,ad_id,ga_session_id,event_timestamp,event_date
0,37f17865-1a1b-4887-bf38-5ae581ec09cb,1.617937e+09,1617936778478001,20210408
1,9a822b84-27d2-48c4-98d6-c87fa0a7b53a,1.618344e+09,1618344330246000,20210413
2,a39616e3-243c-4c04-b8d3-1a016111d84c,1.619197e+09,1619197472119001,20210423
3,f05a743d-18ca-455f-9a0d-0ae4abacc5f3,1.619172e+09,1619171971610000,20210423
4,a39616e3-243c-4c04-b8d3-1a016111d84c,1.619008e+09,1619007945504000,20210421

In [84]:
ads.head()

,ad_id,ga_session_id,event_timestamp,event_date
0,a39616e3-243c-4c04-b8d3-1a016111d84c,1.618947e+09,1618947173023000,20210420
1,8abadb82-ab32-4031-9f66-441c2f6f8105,1.618705e+09,1618705516341000,20210417
2,e8833098-5ed2-45b5-8235-55313a3f586c,1.619141e+09,1619142602896000,20210422
3,65c6fca1-8c93-4cd1-a9ee-33085f5f52a1,1.618375e+09,1618376219124000,20210413
4,936e255b-9ad8-4f59-ae6c-54dc95c0eabe,1.619381e+09,1619383858780000,20210425

In [88]:
activity_day.head()

,ad_id,event_timestamp,ga_session_id,ga_session_id_timestamp
0,c9000a27-6fd5-4eb1-b728-286561c707ca,1619310355712000,1.619309e+09,1.619309e+15
1,c9000a27-6fd5-4eb1-b728-286561c707ca,1619310716820000,1.619309e+09,1.619309e+15
2,c9000a27-6fd5-4eb1-b728-286561c707ca,1619538999256000,1.619539e+09,1.619539e+15
3,c9000a27-6fd5-4eb1-b728-286561c707ca,1619310280808000,1.619309e+09,1.619309e+15
4,c9000a27-6fd5-4eb1-b728-286561c707ca,1619539036766000,1.619539e+09,1.619539e+15

In [93]:
#join
all_event = pd.concat([tutorial_day[['ad_id','ga_session_id','event_timestamp']],play_day[['ad_id','ga_session_id','event_timestamp']],
          draw_day[['ad_id','ga_session_id','event_timestamp']],stage_day,
          asset[['ad_id','ga_session_id','event_timestamp']],ads[['ad_id','ga_session_id','event_timestamp']],
          activity_day[['ad_id','ga_session_id','event_timestamp']]], axis=0)

all_event.head()

                                  ad_id  ga_session_id   event_timestamp
0  8c1573e7-f440-431e-b516-00c5b621fd63   1.618716e+09  1618716504567000
1  1d1ec878-3d36-46e5-a2cc-3bed46341679   1.618081e+09  1618080730037000
2  95511509-8065-4227-bd5a-a803ddbed7b6   1.618362e+09  1618362123481000
3  a42b11cd-da75-4043-897f-18c3f4d67c3e   1.618572e+09  1618572315366000
4  c1fb8a47-9bbb-4faa-935d-d533b985431a   1.618892e+09  1618892539702000

In [96]:
all_event.shape

(57185984, 3)

In [97]:
print(len(tutorial_day)+len(play_day) +len(draw_day)+len(stage_day)+len(asset)+len(ads)+len(activity_day))

57185984

##### ad_id , ga_session_id별 최소시간

In [114]:
min_timestamp = all_event.groupby(['ad_id','ga_session_id'])['event_timestamp'].min()

In [119]:
min_timestamp = pd.DataFrame(min_timestamp).reset_index()

In [120]:
min_timestamp

                                       ad_id  ga_session_id   event_timestamp
0       00018501-6eee-45e9-b5b5-7b50f966abd8   1.618459e+09  1618458973665000
1       00018501-6eee-45e9-b5b5-7b50f966abd8   1.619147e+09  1619147084357000
2       0001edb6-e7e7-4f74-8993-2bfc9347a959   1.619207e+09  1619207127894000
3       0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7   1.618855e+09  1618854710317000
4       0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7   1.618932e+09  1618931879817000
...                                      ...            ...               ...
592855  ffffaa74-daa9-4fe1-a4bb-9e9c5853246f   1.619193e+09  1619193271548000
592856  ffffb6c8-7644-41b3-b334-f6035059539f   1.618834e+09  1618834053345000
592857  ffffb6c8-7644-41b3-b334-f6035059539f   1.618864e+09  1618864095143000
592858  ffffb6c8-7644-41b3-b334-f6035059539f   1.618868e+09  1618867626657000
592859  fffff9f7-8eeb-4ed0-855a-9d342b5a97ef   1.618395e+09  1618394575798000

[592860 rows x 3 columns]

##### target user만 뽑기

In [122]:
target = pd.read_csv("data/Target_train_YN.csv")

In [126]:
min_timestamp = min_timestamp[min_timestamp['ad_id'].isin(target.ad_id.to_list())]

In [127]:
min_timestamp

                                       ad_id  ga_session_id   event_timestamp
0       00018501-6eee-45e9-b5b5-7b50f966abd8   1.618459e+09  1618458973665000
1       00018501-6eee-45e9-b5b5-7b50f966abd8   1.619147e+09  1619147084357000
2       0001edb6-e7e7-4f74-8993-2bfc9347a959   1.619207e+09  1619207127894000
3       0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7   1.618855e+09  1618854710317000
4       0001ef07-c27e-4d91-a8bb-d0aa5f0d45e7   1.618932e+09  1618931879817000
...                                      ...            ...               ...
592855  ffffaa74-daa9-4fe1-a4bb-9e9c5853246f   1.619193e+09  1619193271548000
592856  ffffb6c8-7644-41b3-b334-f6035059539f   1.618834e+09  1618834053345000
592857  ffffb6c8-7644-41b3-b334-f6035059539f   1.618864e+09  1618864095143000
592858  ffffb6c8-7644-41b3-b334-f6035059539f   1.618868e+09  1618867626657000
592859  fffff9f7-8eeb-4ed0-855a-9d342b5a97ef   1.618395e+09  1618394575798000

[558186 rows x 3 columns]

In [128]:
min_timestamp.to_csv("data/min_timestamp.csv", index=False)

##### datetime 형식으로 변환

In [112]:
from datetime import datetime
from tqdm.notebook import tqdm

def Convert_utc_to_datetime(df, col_name) -> list:
    dt = []
    for i in tqdm(range(df.shape[0])):
        tmp = df[col_name][i].astype(int)
        utc = tmp // 1000000
        dt.append(datetime.utcfromtimestamp(utc).date())
  
    return dt

In [113]:
all_event['event_date'] = Convert_utc_to_datetime(all_event, 'event_timestamp')

  0%|          | 0/57185984 [00:00<?, ?it/s]

TypeError: cannot convert the series to <class 'int'>